<li class="nav-item{{#if isActive}} active{{/if}}">
    <a href="./{{Name}}.html" class="nav-link">
        <span class="sidebar-icon {{SpanClass}}">
            <i class="{{IconClass}}"></i>
        </span>
        <span class="sidebar-text">{{DisplayName}}</span>
    </a>
</li>