<footer class="shadow p-4 mt-4 text-center d-print-none">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 mb-2">
            <p class="mb-0">
                © Copyright <a class="text-primary text-decoration-underline fw-bold" href="https://KeshavSoft.com"
                    target="_blank">KeshavSoft</a>. All Rights Reserved
            </p>
        </div>
        <div class="col-12">
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a href="#">Version 11-20</a>
                </li>
            </ul>
        </div>
    </div>
</footer>